import("methods")
import("FLCore")
import("FLFishery")
import("data.table")
import("foreach")
import("r4ss")
importFrom("stats", "optimize", "setNames")

export(
  "%++%",
  "buildFLBFss3",
  "buildFLIBss3",
  "buildFLSss3",
  "buildFLSRss3",
  "buildFLSss3",
  "loadindex",
  "loadom",
  "loadomFLStocks",
  "loadomDT",
  "loadquants",
  "loadres",
  "nameGrid",
  "packss3run",
  "readFLBFss3",
  "readFLSss3",
  "readFLIBss3",
  "readRPss3",
  "runss3grid",
  "SS_readctl_3.24"
)
