import("methods")
import("FLCore")
import("FLFishery")
import("data.table")
import("foreach")
importFrom("stats", "optimize")
import("r4ss")
importFrom("stats", "setNames")
importFrom("utils", "data")

export(
  "%++%",
  "deSS3",
  "loadhessian",
  "loadindex",
  "loadom",
  "loadom2csv",
  "loadrec",
  "loadres",
  "readFLBFss3",
  "readFLSss3",
  "readFLIBss3",
  "readRPss3",
  "readFLQsss3",
  "runss3grid"
)
